* {
    margin: 0px;
    padding: 0px;
}

.web {
    display: flex;
    height: 100vh;
}

/*comeco da tela de entrada*/
.telaverde {
    display: flex;
    background-color: rgb(58, 179, 2);
    width: 30%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border-radius: 10px;
}

h1 {
    display: flex;
    color: aliceblue;
    font-size: 40px;

}

p {
    display: flex;
    color: aliceblue;
    font-size: 20px;
}


/*butao*/
.entrar {
    border-radius: 15px;
    background-color: rgb(58, 179, 2);
    border-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px;
    display: flex;
    width: 250px;
    height: 60px;

}

button {
    display: flex;
    width: 250px;
    height: 60px;
    justify-content: center;
    align-items: center;
}


/*tela de login*/
.telalogin {
    display: flex;
    background-color: rgb(199, 255, 218);
    width: 70%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border-radius: 10px;
   
}

h2 {
    display: flex;
    color: rgb(58, 179, 2);
    font-size: 40px;
    margin-bottom: 200px;
}

input{
    font-size: 20px;
    padding: 20px;
    border: 0px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.cadastrar{
    border-radius: 15px;
    background-color: rgb(58, 179, 2);
    box-shadow: 0 0 10px;
    border-color: rgb(255, 255, 255);
    display: flex;
    width: 250px;
    height: 60px;

}