*{
    padding: 0px;
    margin: 0px;
}
.web{
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.conteiner1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: rgb(69, 57, 231);
    color:aliceblue;
    border-radius: 10px;
    width: 40%;
    height: 100%;
}
.conteiner2{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    color:  rgb rgb(216, 216, 59);
    width: 60%;
    height: 100%;
    text-align: center;
}
