*{
    padding: 0px;
    margin: 0px;
}

.web{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    width: 90vh;
    height: 80vh;
    box-shadow: 0.0.5(0.5.5.5);
    display: flex;
    align-items: stretch;
    border-radius: 10px;
}
.conteiner1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: rgb(216, 216, 59);
    color:aliceblue;
    border-radius: 10px;
    width: 40%;
    height: 100%;
}
.conteiner2{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    color:  rgb rgb(216, 216, 59);
    width: 60%;
    height: 100%;
    text-align: center;
}
.entrada{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}
.input{
    margin: 20px;
    width: 250px;
    height: 20px;
    border-radius: 7px;
    border: 0;
}
.btn{
    width: 200px;
    height: 40px;
    background-color: rgb(216, 216, 59);
    color: aliceblue;
    border-radius: 10px;
    border: 0;
    margin: 10px;
    cursor: pointer;
}
.btn1{
    margin: 10px;
    width: 200px;
    height: 40px;
    background-color: aliceblue;
    color:  rgb(216, 216, 59);
    border-radius: 10px;
    border: 0;
    cursor: pointer;
}
.T{
    padding-bottom: 10px;
}
.TT{
    padding-top: 40px;
}